# uproot

In [1]:
import uproot
import awkward
import numpy as np
import pandas as pd

In [2]:
signal = uproot.open('SUSYGluGluToBBH_M-300_Delphes.root')
signal

In [3]:
signal_t = signal['mssmhbb']
signal_t

In [4]:
signal_b = signal_t.arrays()

In [5]:
signal_df = awkward.to_pandas(signal_b)

In [6]:
signal_df

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dR13,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23
entry,,,,,,,,,,,,,,,,,,,,,
0,5,2,23.708794,138.831268,1.637501,2.722604,5,8.140655,87.509010,-2.403502,...,3.125498,1.643733,-2.658360,132.683929,-1.998704,-0.196894,282.557098,2.769025,-2.397271,1.385855
1,5,4,24.612320,241.588165,-0.753658,-0.863630,5,25.849293,155.130859,-0.009697,...,4.614883,-4.099383,2.119482,216.458801,2.725022,2.535338,717.867004,3.601889,-3.355423,-1.309482
2,5,2,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,3.424431,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866
3,3,3,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,3.424431,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866
4,2,1,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,3.424431,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,8,3,16.809536,107.099083,-1.542869,0.253037,5,11.565800,94.666512,-0.348142,...,2.828010,1.891239,2.102583,38.031155,-4.075221,2.352742,399.536621,4.155771,3.085967,-2.783386
199996,3,2,16.809536,107.099083,-1.542869,0.253037,5,11.565800,94.666512,-0.348142,...,2.828010,1.891239,2.102583,38.031155,-4.075221,2.352742,399.536621,4.155771,3.085967,-2.783386
199997,8,4,16.410131,93.445625,1.168466,2.221446,21,11.153617,92.875137,-0.686926,...,0.979513,-0.547075,-0.812500,64.655312,0.967453,1.215478,249.872986,3.396386,-2.402466,-2.400749
199998,5,3,11.636787,114.527374,-1.328060,2.965014,5,12.117689,109.990417,-0.247724,...,0.824139,-0.403625,0.718534,79.286255,-0.908435,0.281287,151.735901,2.506499,0.676710,-2.413420
199999,5,3,10.417263,159.904739,-1.535323,0.100030,5,11.981095,111.241310,-1.205992,...,3.327898,-1.598472,-2.918868,162.220703,-0.896666,-3.014252,113.936241,1.321742,-1.269142,0.369160

In [7]:
np.ones(len(signal_df))

array([1., 1., 1., ..., 1., 1., 1.])

In [8]:
signal_df.loc[:,'label'] = np.ones(len(signal_df)).tolist()

In [9]:
signal_df

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23,label
entry,,,,,,,,,,,,,,,,,,,,,
0,5,2,23.708794,138.831268,1.637501,2.722604,5,8.140655,87.509010,-2.403502,...,1.643733,-2.658360,132.683929,-1.998704,-0.196894,282.557098,2.769025,-2.397271,1.385855,1.0
1,5,4,24.612320,241.588165,-0.753658,-0.863630,5,25.849293,155.130859,-0.009697,...,-4.099383,2.119482,216.458801,2.725022,2.535338,717.867004,3.601889,-3.355423,-1.309482,1.0
2,5,2,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866,1.0
3,3,3,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866,1.0
4,2,1,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,8,3,16.809536,107.099083,-1.542869,0.253037,5,11.565800,94.666512,-0.348142,...,1.891239,2.102583,38.031155,-4.075221,2.352742,399.536621,4.155771,3.085967,-2.783386,1.0
199996,3,2,16.809536,107.099083,-1.542869,0.253037,5,11.565800,94.666512,-0.348142,...,1.891239,2.102583,38.031155,-4.075221,2.352742,399.536621,4.155771,3.085967,-2.783386,1.0
199997,8,4,16.410131,93.445625,1.168466,2.221446,21,11.153617,92.875137,-0.686926,...,-0.547075,-0.812500,64.655312,0.967453,1.215478,249.872986,3.396386,-2.402466,-2.400749,1.0
199998,5,3,11.636787,114.527374,-1.328060,2.965014,5,12.117689,109.990417,-0.247724,...,-0.403625,0.718534,79.286255,-0.908435,0.281287,151.735901,2.506499,0.676710,-2.413420,1.0
199999,5,3,10.417263,159.904739,-1.535323,0.100030,5,11.981095,111.241310,-1.205992,...,-1.598472,-2.918868,162.220703,-0.896666,-3.014252,113.936241,1.321742,-1.269142,0.369160,1.0

In [10]:
signal_df.describe()

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23,label
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.0
mean,4.236305,2.581010,16.190868,133.422287,-0.001476,0.002054,5.443285,13.249220,97.423828,0.006035,...,0.004623,0.001715,114.135063,0.004781,-0.002627,213.074234,2.400454,0.012134,0.003565,1.0
std,1.681002,0.869834,8.455054,45.270435,1.234122,1.816750,3.470145,6.501417,35.108082,1.387768,...,1.928779,2.234859,54.544456,1.836079,1.809349,184.444687,1.098063,2.037324,1.678422,0.0
min,0.000000,0.000000,-0.000031,27.503696,-4.683463,-3.141557,0.000000,-0.000029,23.062956,-4.912470,...,-7.999657,-3.141589,0.271989,-7.996968,-3.141407,18.001554,0.486441,-8.211761,-3.141539,1.0
25%,3.000000,2.000000,10.492306,103.721024,-0.854193,-1.574377,5.000000,8.793282,73.023153,-0.955953,...,-1.305768,-2.271088,76.254852,-1.382717,-1.569125,104.712761,1.566505,-1.383398,-1.380639,1.0
50%,4.000000,3.000000,14.119060,131.128799,-0.002172,0.011450,5.000000,11.814429,94.763706,0.004870,...,0.004484,-0.001785,112.415771,0.013347,0.002691,162.740578,2.329946,0.015714,0.002567,1.0
75%,5.000000,3.000000,19.620335,157.610489,0.850439,1.568152,5.000000,16.073645,117.964520,0.963438,...,1.317273,2.275973,147.462845,1.394005,1.559177,257.654129,3.081080,1.409947,1.391602,1.0
max,15.000000,8.000000,170.693954,1100.758667,4.743208,3.141560,21.000000,118.807877,1094.794434,4.885617,...,8.548380,3.141583,1181.690063,8.215679,3.141514,4269.730469,8.583661,8.441046,3.141583,1.0

In [11]:
bg = uproot.open('QCD_bEnriched_HT100toInf_Delphes.root')
bg

In [12]:
bg_t = bg['mssmhbb']
bg_t

In [13]:
bg_b = bg_t.arrays()

In [14]:
bg_df = awkward.to_pandas(bg_b)

In [15]:
bg_df

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dR13,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23
entry,,,,,,,,,,,,,,,,,,,,,
0,3,1,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,3,1,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,6,2,90.818703,510.979950,0.643937,-2.623520,2,26.911982,419.429626,1.191796,...,3.511376,-2.315378,2.639846,470.038025,1.702713,0.394889,351.991241,1.906665,-1.767518,-0.715018
3,6,2,53.166740,616.703735,-1.370272,2.124651,4,24.374750,473.611511,-1.811742,...,3.059795,0.843452,2.941247,646.629456,-1.959819,-1.129827,179.580734,0.591720,0.401981,-0.434216
4,3,1,53.166740,616.703735,-1.370272,2.124651,4,24.374750,473.611511,-1.811742,...,3.059795,0.843452,2.941247,646.629456,-1.959819,-1.129827,179.580734,0.591720,0.401981,-0.434216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279723,5,2,35.190422,268.878296,-1.163885,0.761939,5,22.786293,209.909348,-1.193992,...,3.001169,-1.983922,-2.251903,236.629364,-0.701483,-2.201750,498.316620,2.654197,-2.014029,1.728713
279724,5,1,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,4.479291,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491
279725,2,1,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,4.479291,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491
279726,3,2,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,4.479291,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491
279727,3,2,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,4.479291,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491

In [16]:
bg_df.describe()

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dR13,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23
count,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,...,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000,279728.000000
mean,3.423915,1.369069,23.389038,216.835861,0.002922,0.003356,5.798422,19.717178,162.201950,0.013501,...,2.904546,0.005181,-0.000942,190.397568,0.014125,-0.001429,250.856720,2.327170,0.015760,0.000504
std,1.285632,0.639705,21.575756,237.111343,1.442164,1.807710,6.008740,20.067337,192.507339,1.564306,...,1.000570,2.029516,2.306209,217.914322,1.912599,1.821514,267.948334,1.196939,2.071632,1.598904
min,0.000000,0.000000,-0.000075,0.000000,-4.860830,-3.141486,0.000000,-0.000022,0.000000,-4.887296,...,0.000000,-8.642126,-3.141568,0.000000,-7.182216,-3.141587,0.000000,0.000000,-8.208431,-3.141406
25%,2.000000,1.000000,11.065947,75.874374,-1.005106,-1.542420,2.000000,9.027337,53.920189,-1.068432,...,2.344426,-1.352322,-2.376259,63.377048,-1.383373,-1.592946,95.167849,1.386433,-1.304392,-1.259643
50%,3.000000,1.000000,16.188091,113.758385,0.007928,-0.004249,5.000000,13.062753,79.840897,0.009985,...,2.899558,-0.008400,0.033236,101.891350,0.014978,0.003695,162.195389,2.204361,0.029429,-0.007924
75%,4.000000,2.000000,27.175404,263.631287,0.996871,1.571955,5.000000,22.042864,189.306332,1.083556,...,3.407374,1.366092,2.373978,235.779251,1.420976,1.589743,303.056984,3.046080,1.337723,1.272107
max,11.000000,6.000000,341.464203,2509.253174,4.589691,3.141513,21.000000,434.980804,2402.636230,4.822147,...,8.835958,8.448727,3.141580,2462.816650,8.015321,3.141582,5476.222656,9.392003,9.374617,3.141513

In [17]:
bg_df.loc[:,'label'] = np.zeros(len(bg_df)).tolist()

In [18]:
bg_df

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23,label
entry,,,,,,,,,,,,,,,,,,,,,
0,3,1,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1,3,1,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,6,2,90.818703,510.979950,0.643937,-2.623520,2,26.911982,419.429626,1.191796,...,-2.315378,2.639846,470.038025,1.702713,0.394889,351.991241,1.906665,-1.767518,-0.715018,0.0
3,6,2,53.166740,616.703735,-1.370272,2.124651,4,24.374750,473.611511,-1.811742,...,0.843452,2.941247,646.629456,-1.959819,-1.129827,179.580734,0.591720,0.401981,-0.434216,0.0
4,3,1,53.166740,616.703735,-1.370272,2.124651,4,24.374750,473.611511,-1.811742,...,0.843452,2.941247,646.629456,-1.959819,-1.129827,179.580734,0.591720,0.401981,-0.434216,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279723,5,2,35.190422,268.878296,-1.163885,0.761939,5,22.786293,209.909348,-1.193992,...,-1.983922,-2.251903,236.629364,-0.701483,-2.201750,498.316620,2.654197,-2.014029,1.728713,0.0
279724,5,1,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0
279725,2,1,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0
279726,3,2,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0
279727,3,2,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0

In [19]:
dataset_df = pd.concat([signal_df,bg_df], ignore_index=True)

In [20]:
dataset_df

,njets,nbjets,mj1,ptj1,etaj1,phij1,flavorj1,mj2,ptj2,etaj2,...,dEta13,dPhi13,pt23,eta23,phi23,m23,dR23,dEta23,dPhi23,label
0,5,2,23.708794,138.831268,1.637501,2.722604,5,8.140655,87.509010,-2.403502,...,1.643733,-2.658360,132.683929,-1.998704,-0.196894,282.557098,2.769025,-2.397271,1.385855,1.0
1,5,4,24.612320,241.588165,-0.753658,-0.863630,5,25.849293,155.130859,-0.009697,...,-4.099383,2.119482,216.458801,2.725022,2.535338,717.867004,3.601889,-3.355423,-1.309482,1.0
2,5,2,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866,1.0
3,3,3,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866,1.0
4,2,1,19.135242,95.257866,-2.032373,2.582395,5,14.150016,89.093277,-1.556114,...,-1.420523,3.115901,136.879257,-1.304583,-0.348282,71.413132,0.986877,-0.944264,0.286866,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479723,5,2,35.190422,268.878296,-1.163885,0.761939,5,22.786293,209.909348,-1.193992,...,-1.983922,-2.251903,236.629364,-0.701483,-2.201750,498.316620,2.654197,-2.014029,1.728713,0.0
479724,5,1,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0
479725,2,1,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0
479726,3,2,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0
479727,3,2,16.014450,260.866943,-1.948944,2.359456,3,42.833412,175.439316,0.653816,...,-3.757979,2.437548,268.102173,1.396291,-0.664796,246.239914,1.533488,-1.155219,-1.008491,0.0

In [21]:
dataset_df.to_csv('dataset_Delphes.csv')